{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "user/css/password-reset.css" %}">
    <title>{{ title }}</title>
</head>
<body>
    <input type="hidden" name="sendUrl" value="{% url "user:password_reset" %}">
    <div class="wrong-message none">
        <h2>Нет пользователя с таким логином</h2>
    </div>
    <form method="post" class="firs block">
        {% csrf_token %}
        <label for="login">Логин</label>
        <div class="input">
            <input type="text" name="login" id="login">
        </div>
        <div class="start dataF">
             <button>поменять пароль</button>
        </div>
        <a class="have" href="{% url "user:sign-in" %}">Я вспомнил пароль</a>
    </form>
    <form method="post" class="secon block none">
        {% csrf_token %}
        <p class="emailP"></p>
        <p class="tries">осталось попыток 5</p>
        <label for="code">Введите код</label>
        <div class="input code">
            <input type="text" name="code" id="code">
        </div>
        <div class="start emailF">
             <button>продолжить</button>
        </div>
        <div class="back">
            <a href="{% url "user:password_reset" %}">назад</a>
        </div>
    </form>
    <form method="post" class="third block none">
        {% csrf_token %}
        <label for="password">Пароль</label>
        <div class="input">
            <input type="password" name="password" id="password">
        </div>
        <label for="password2">Повторите пароль</label>
        <div class="input">
            <input type="password" name="password2" id="password2">
        </div>
        <div class="start resF">
             <button>поменять пароль</button>
        </div>
        <a class="have" href="{% url "user:sign-in" %}">Я вспомнил пароль</a>
    </form>

    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <script src="{% static "user/js/password-reset.js" %}"></script>
</body>
</html>