{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "main/css/welcome.css" %}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="block">
        <h1>Трекер задач для вас<span><img src="{% static "main/images/red-heart.svg" %}" alt="heart"></span></h1>
        <div class="start">
            <a href="{% url "user:sign-in" %}">начать</a>
        </div>
    </div>
</body>
</html>